
<div class="login-dark">
    <form novalidate
    [formGroup]="form"
    (ngSubmit)="onSubmit(form.value)"
     method="post">
        <h2 class="sr-only">Reset Password</h2>
        <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
        <div class="form-group">
            <input formControlName="email" class="form-control" type="email" name="email" placeholder="Email">
        </div>
        <div class="error" *ngIf="form.controls.email.errors && form.controls.email.dirty">
                <p>El Email es incorrecto</p>
            </div>
        <div class="error" *ngIf="falloMail === 0">
                <p>Este email no está registrado</p>
            </div>
        <div class="form-group">
            <input formControlName="password" class="form-control" type="password" name="password" placeholder="New Password">
        </div>
        <div class="form-group">
            <input formControlName="password_repeat" class="form-control" type="password" name="password" placeholder="New Password (Repeat)">
        </div>
        <div class="error" *ngIf="falloPassword === 0">
            <p>Las contraseñas no coinciden</p>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit" style="background-color:rgb(51,177,217);">Resetear Password</button>
        </div>
    </form>
</div>
 