<div class="article-list">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Mis Restaurantes Favoritos</h2>
            <p class="text-center">Aquí tienes una lista con tus restaurantes favoritos.</p>
        </div>
        <div class="row articles">
            <div *ngFor="let restaurante of restaurantes" class="col-sm-6 col-md-4 item"><img (click)="handleClick(restaurante.id)" class="img-fluid" src={{restaurante.foto}}>
                <h3 class="name">{{restaurante.nombre}}</h3>
                <p class="description">{{restaurante.descripcion}}</p>
                <p class="description direccion">{{restaurante.direccion}}</p>
            </div>
        </div>
    </div>
</div>
