
<div class="article-list">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Mis Restaurantes Favoritos</h2>
            <p class="text-center">Aquí tienes una lista con tus restaurantes favoritos.</p>
        </div>
        <div class="row articles">
            <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="assets/img/tandori.jpg"></a>
                <h3 class="name">Article Title</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a href="#" class="action"></a></div>
        </div>
    </div>
</div>
