
<div class="article-list">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Enhorabuena!!! Te has registrado correctamente.</h2>
            <p class="text-center">Te has registrado correctamente. Logeate para subir tus opiniones o tus recetas.</p>
        </div>
        <div class="row articles">
            <div class="col-sm-12 col-md-12 item">
                <img class="img-fluid" src="assets/img/foto.jpg">
                <a class="action"></a>
                <button (click)="bienvenida()" type="button" class="btn-outline-success">Log In</button>
            </div>
        </div>
    </div>
</div>
