
<div class="article-clean">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                <div class="intro">
                    <h1 class="text-center">WikiSpicy</h1>
                    <p class="text-center"><span class="by">by </span> <a [routerLink]="['creador']" style="font-size:16px;">Alejandro Gómez Pasadé</a></p>
                </div>
                <div class="text">
                    <p style="font-size:18px;">WikiSpici es una aplicación para amantes del picante en la cual podrás encontrar restaurantes y tiendas cercanas a ti.</p>
                    <h2 style="font-size:20px;">Experiencia Usuarios</h2>
                    <p style="font-size:18px;">Los usuarios de WikiSpicy pueden compartir entre ellos recetas y experiencias en los restaurantes y tiendas que han visitado. También podrán comprar articulos relacionados con la cocina picante en nuestra maravillosa tienda.</p>
                    <figure></figure>
                </div>
            </div>
        </div>
    </div>
</div>
