<div class="article-list">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Recetas</h2>
            <p class="text-center">Aquí tienes nuestras maravillosas recetas y las recetas subidas por nuestros queridos usuarios.</p>
        </div>
        <div class="row articles">
            <div *ngFor="let receta of arrayRecetas" class="col-sm-6 col-md-4 item"><img (click)="handleClick(receta.id)" class="img-fluid" src={{receta.imagen}}>
                <h3 class="name">{{receta.nombre}}</h3>
                <p class="description">{{receta.descripcion}}</p>
                <p class="description">{{receta.emoji}}</p>
                </div>
</div>
</div>
</div>
