<!DOCTYPE html>

<div class="article-dual-column">
<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="intro">
                <h1 class="text-center">{{receta?.nombre}}</h1>
                <p class="text-center"> </p><img class="img-fluid" src={{receta?.imagen}}></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-lg-3 offset-md-1">
            <div class="toc">
                <p>Ingredientes</p>
                <ul>
                    <li>{{receta?.ingredientes}}</li>
                </ul>
            </div>
        </div>
        <div class="col-md-10 col-lg-7 offset-md-1 offset-lg-0">
            <div class="text">
                <p>Sed lobortis mi. Suspendisse vel placerat ligula. <span style="text-decoration: underline;">Vivamus</span> ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in
                    justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                <figure class="figure"></figure>
            </div>
        </div>
    </div>
</div>
</div>
