
<div class="team-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Team </h2>
            <p class="text-center">Aquí tienes al magnífico creador de WikiSpicy</p>
        </div>
        <div class="row people">
            <div class="col-md-12 col-lg-12 item"><img class="rounded-circle" src="assets/img/alex.jpg">
                <h3 class="name" style="font-size:22px;">Alejandro Gómez Pasadé</h3>
                <p class="title">Web Developer</p>
                <p class="description">Desarrollador web y amante del picante.</p>
            </div>
        </div>
    </div>
</div>
